.about {
    min-height: 710px;
    background: url('../images/bg/about.jpg') center (center / cover) no-repeat;
    &__wrapper {
        display: flex;
    }
    &__text {
        margin-top: 106px;
        margin-right: 18px;
    }
    &__descr {
        margin-top: 32px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #4c4c4c;
    }
    &__cook {
        display: block;
        margin: 52px auto;
    }
    &__img {
        margin-top: 55px;
        margin-left: 18px;
    }

}
.title {
    &__text {
        font-family: 'Yeseva One' sans-serif;
        font-size: 36px;
        text-align: center;
        color: $main-color;
        &--color {
            color: #ffff;
        }
    }
    &__line {
        display: block;
        margin: 15px auto;
    }
}