.container {
    max-width: 1030px;
}
.pageup{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    bottom: 7px;
    right: 7px;
    opacity: 0.5;
    z-index: 3;
}
@import "variables";
@import "header";
@import "about";
@import "ingridients";
@import "menu";
@import "reviews";
@import "booking";
@import "footer";
@import "media";
